.green {
  $color: #4caf50; // green
  .card-header {
    color: $color;
  }
  &.pure-button, thead {
    background: $color;
    color: #fff;
  }
  &.track-table {
    .track-header {
      background: $color;
      &:hover {
        background: #66bb6a; // lighten-1
      }
    }
    .track-list li {
      background: #e8f5e9; // lighten-5
      &.completed {
        background: #a5d6a7; // lighten-3
      }
      &.locked {
        background: #2e7d32; // darken-3
      }
    }
  }
}

.orange {
  $color: #ff5722; // deep-orange
  .card-header {
    color: $color;
  }
  &.pure-button, thead {
    background: $color;
    color: #fff;
  }
  &.track-table {
    .track-header {
      background: $color;
      &:hover {
        background: #ff7043; //lighten-1
      }
    }
    .track-list li {
      background: #fbe9e7; // lighten-5
      &.completed {
        background: #ffab91; // lighten-3
      }
      &.locked {
        background: #d84315; // darken-3
      }
    }
  }
}

.blue {
  $color: #03a9f4; // light-blue
  .card-header {
    color: $color;
  }
  &.pure-button, thead {
    background: $color;
    color: #fff;
  }
  &.track-table {
    .track-header {
      background: $color;
      &:hover {
        background: #29b6f6; // lighten-1
      }
    }
    .track-list li{
      background: #e1f5fe; // lighten-5
      &.completed {
        background: #81d4fa; // lighten-3
      }
      &.locked {
        background: #0277bd; // darken-3
      }
    }
  }
}

.purple {
  $color: #673ab7; // deep-purple
  .card-header {
    color: $color;
  }
  &.pure-button, thead {
    background: $color;
    color: #fff;
  }
  &.track-table {
    .track-header {
      background: $color;
      &:hover {
        background: #7e57c2; // lighten-1
      }
    }
    .track-list li{
      background: #ede7f6; // lighten-5
      &.completed {
        background: #b39ddb; // lighten-3
      }
      &.locked {
        background: #4527a0; // darken-3
      }
    }
  }
}

.red {
  $color: #f44336; // red
  .card-header {
    color: $color;
  }
  &.pure-button, thead {
    background: $color;
    color: #fff;
  }
  &.track-table {
    .track-header {
      background: $color;
      &:hover {
        background: #ef5350; // lighten-1
      }
    }
    .track-list li{
      background: #ffebee; // lighten-5
      &.completed {
        background: #ef9a9a; // lighten-3
      }
      &.locked {
        background: #c62828; // darken-3
      }
    }
  }
}
