html {
  background: #efebe9;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  .right {
    text-align: right;
  }
}

.pure-menu-horizontal {
  background: #fff;
  box-shadow: 0 3px 1px rgba(0,0,0,0.10);
  margin: 0 auto 5px auto;
  max-width: 980px;
  overflow: hidden;
  li.pure-menu-selected {
    border-bottom: 1px solid #000;
  }
}

.pure-menu-heading {
  text-transform: none !important;
}

.card {
  box-shadow: 0 3px 1px rgba(0,0,0,0.10);
  background: #fff;
  margin: 1.5em auto;
  padding: 0.5em;
  &.error {
    box-shadow: 0 3px 1px rgba(0,82,82,0.20);
    background: #ff8a80;
    font-weight: bold;
  }
  &.success {
    box-shadow: 0 3px 1px rgba(0,241,118,0.20);
    background: #00e676;
    font-weight: bold;
  }
  .card-header {
    border-bottom: 1px solid #000;
    h1 {
      margin: 0;
    }
  }
}

.login-body {
  input, button {
    width: 100%;
  }
}

.complete-registration {
  input, button {
    width: 15em;
  }
}

.content.instructions {
  ol, fieldset {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  li {
    padding: 0.2em 0;
  }
}

.track-tables {
  text-align: center;

  .track-table {
    box-shadow: 0 3px 1px rgba(0,0,0,0.30);
    border: 1px solid #ddd;
    margin: 0 0.5em 2em;
    padding: 0;

    ul li {
      font-size: 1.5em;
    }
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-shadow: 1px 2px rgba(0,0,0,0.2);
      }
    }

    .track-header {
      background: #9e9e9e;
      color: #fff;
      margin: 0;
      padding: 0.5em 0;

      .title {
        font-size: 3em;
        margin: 0.2em 0 0;
        font-weight: 100;
      }
    }

    .track-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center;
      li {
        padding: 0.8em 0;
        background: #fafafa;
        &.completed{
          background: #e0e0e0;
          cursor: not-allowed;
        }
        &.locked {
          background: #424242;
          color: #fff;
          cursor: not-allowed;
        }
      }
      a li:hover {
        background: #fff !important;
        color: #000;
      }
    }
  }
}

.pure-button.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65);
}

.scoreboard {
  .card-header {
    margin-bottom: 1em;
  }
  .no-affiliation {
    color: #888;
  }
}

@media screen and (min-width: 48em) {
  .track-details, .login, .instructions {
    .card {
      margin-left: -0.5em;
      margin-right: 1.0em;
      &.right-card {
        margin-left: 0.5em;
        margin-right: -0.5em;
      }
    }
  }
  .track-details .card {
    margin-top: 0;
  }
}

.track-details {
  li {
    padding: 0.2em 0;
  }
  .network-diagram {
    text-align: center;
    img {
      width: 100%
    }
  }
}

blockquote {
  margin-left: 0.5em;
  padding-left: 0.5em;
  border-left: #888 solid 2px;
}

.rules li {
  padding: 0.2em 0;
}

@import "colors";
