.content.pure-g.rules
  .pure-u-1-5
  .pure-u-3-5
    .pure-g.card
      .pure-u-1.card-header
        %h1
          = "!!"
          Rules
      .pure-u-1.card-body
        %ol
          %li Competition network is 10.0.0.0/8. All other IPs are out of scope.
          %li Do not disrupt the network or servers. If you think what you want to do might cause a problem, ask first.
          %li Do not share answers.
          %li Do not target the non-competition Wifi.
          %li Only students are eligible for prizes
        %a.pure-button.green(href="/tracks") Go to CTF
