.content.pure-g.scoreboard
  .pure-u-1.pure-u-md-1-5
  .pure-u-1.pure-u-md-3-5
    .pure-g.card
      .pure-u-1.card-header
        %h1(style="text-align: center")
          Scoreboard
      .pure-u-1
        %table.pure-table.pure-table-horizontal(style="width:100%")
          %thead
            %tr
              %th Place
              %th Name
              %th Affiliation
              %th Score
          %tbody
            - @users.each_with_index do |user, index|
              %tr
                %td= index + 1
                %td= user.name
                %td
                  - if user.affiliation.blank?
                    .no-affiliation
                      None
                  - else
                    = user.affiliation
                %td= user.score
